<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    {{!-- <link rel="stylesheet" type="text/css" href="./../../public/style.css"> --}}
    <link href="../../public/profile.css" rel="stylesheet">
    <link href="../../public/orders.css" rel="stylesheet">
    <link href="../../public/overview.css" rel="stylesheet">
    <link href="../../public/address.css" rel="stylesheet">
</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    {{!-- <script type="text/javascript" src="./../../public/script.js"></script> --}}

</body>

</html>