 <header> 
  <div class=" heading col-md-8" id="property1">
    <h1>Seller Profile Info</h1>
  </div>
  </header>

    <div clsss="container" id="property2"> 
      <div class="card" id="card1">
        <img  class="profileImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOIoJjA32AsP7ZUIMvclU9vMCnnVEfG1svHMWw8k0_KrZoEZkK_g&s" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder=" Seller User Name" name="usrnm" readonly="true" id="userdetail">
          </div>
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Seller@msn.com" name="email" readonly="true" id="userdetail">
            </div>
            <div class="input-container">
                <i class="fa fa-home icon"></i>
                <input class="input-field" type="password" placeholder="A-13 , Lord Angles" name="psw" id="userdetail">
            </div>
            <div style="margin: 24px 0;">
              <a href="#" class="social"><i class="fa fa-dribbble"></i></a> 
              <a href="#" class="social"><i class="fa fa-twitter"></i></a>  
              <a href="#" class="social"><i class="fa fa-linkedin"></i></a>  
              <a href="#" class="social"><i class="fa fa-facebook"></i></a> 
            </div>
            <p><button class="btn1">Edit Profile</button></p>
            <p><button class="btn2">Delete Account</button></p>
      </div>
    </div>
    <div class="container" id="container2"  >
      <div class="card" id="card3" >
        <img class="card-img-top" src="https://assets.croma.com/medias/sys_master/images/images/h1b/h8f/8852076593182/218102_pjpeg.jpg" alt="Card image cap" id="productimage" >
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Product Name</strong></li>
           <li class="list-group-item"> Product Id</li>
          <li class="list-group-item">Category</li>
          <li class="list-group-item">MRP</li>
        </ul>
        <button class="btn3">Edit Info</button><br>
        <button class="btn4">Delete Item</button>
      </div>
    </div>
    <div class="container" id="container2"  >
     <div class="card" id="card3">
        <img class="card-img-top" src=" https://i.gadgets360cdn.com/products/large/1551025118_635_Nokia_4.2_db.jpg" alt="Card image cap" id="productimage">
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Product Name</strong></li>
            <li class="list-group-item"> Product Id</li>
            <li class="list-group-item">Category</li>
            <li class="list-group-item">MRP</li>
          </ul>
          <button class="btn3">Edit Info</button><br>
          <button class="btn4">Delete Item</button>
      </div>
    </div>
    <div class="container" id="container2"  >
      <div class="card" id="card3">
        <img class="card-img-top" src=" https://i.gadgets360cdn.com/products/large/1517304275_635_nokia_3310_4g.jpg" alt="Card image cap" id="productimage">
        
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>Product Name</strong></li>
          <li class="list-group-item"> Product Id</li>
          <li class="list-group-item">Category</li>
          <li class="list-group-item">MRP</li>
        </ul>
        <button class="btn3">Edit Info</button><br>
        <button class="btn4">Delete Item</button>
      </div>
    </div>
    <div class="container" id="container2"  >
      <div class="card" id="card3">
        <img class="card-img-top" src=" https://bit.ly/322ULEr" alt="Card image cap" id="productimage">
         
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>Product Name</strong></li>
          <li class="list-group-item"> Product Id</li>
          <li class="list-group-item">Category</li>
          <li class="list-group-item">MRP</li>
        </ul>
        <button class="btn3">Edit Info</button><br>
        <button class="btn4">Delete Item</button>
      </div>
    </div>
    <div class="container" id="container2"  >
      <div class="card" id="card3">
        <img class="card-img-top" src=" https://bit.ly/322ULEr" alt="Card image cap" id="productimage">
        
         <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>Product Name</strong></li>
            <li class="list-group-item"> Product Id</li>
            <li class="list-group-item">Category</li>
            <li class="list-group-item">MRP</li>
          </ul>
          <button class="btn3">Edit Info</button><br>
          <button class="btn4">Delete Item</button>
        </div>
    </div>
    <div class="container" id="container2" >
      <div class="card" id="card3">
        <img class="card-img-top" src=" https://bit.ly/322ULEr" alt="Card image cap" id="productimage">
         
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><strong>Product Name</strong></li>
          <li class="list-group-item"> Product Id</li>
          <li class="list-group-item">Category</li>
          <li class="list-group-item">MRP</li>
        </ul>
        <button class="btn3">Edit Info</button><br>
        <button class="btn4">Delete Item</button>
      </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">