<div class="container">
    <h1>ADD A NEW ADDRESS</h1>
    <form action="/user-signup" method="POST" class="form-group">
        <div class="form-row">
            <div class="col mx-auto">
                <input type="text" class="form-control" name="userName" placeholder="Name" required>
            </div>
            <div class="col mx-auto">
                <input type="number" class="form-control" name="mobileNumber" placeholder="10-digit mobile number"
                    required>
            </div>
        </div>

        <div class="form-row ">
            <div class="col mt-3 mx-auto">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Address(Area and Street)" name="address" class="form"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col mt-3 mx-auto">
                <input type="number" class="form-control" name="pincode" placeholder="Pincode" required>
            </div>
            <div class="col mt-3 mx-auto">
                <input type="text" class="form-control" name="locality" placeholder="Locality" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-3 mx-auto">
                <input type="text" class="form-control" name="city" placeholder="City/Disrtict/Town" required>
            </div>
            <div class="col mt-3 mx-auto">
                <div class="input-group mb-3 ">
                    <select class="custom-select form" name="state" id="inputGroupSelect">
                        <option selected>Select State</option>
                        <option value="1">Andhra Pradesh</option>
                        <option value="2">Assam</option>
                        <option value="3">Arunachal Pradesh</option>
                        <option value="4">Bihar</option>
                        <option value="5">Chhattisgarh</option>
                        <option value="6">Delhi</option>
                        <option value="7">Gujarat</option>
                        <option value="8">Goa</option>
                        <option value="9">Haryana</option>
                        <option value="10">Himachal Pradesh</option>
                        <option value="11">Jharkhand</option>
                        <option value="12">Jammu and Kashmir</option>
                        <option value="13">Karnataka</option>
                        <option value="14">Kerala</option>
                        <option value="15">Madhya Pradesh</option>
                        <option value="16">Maharashtra</option>
                        <option value="17">Mizoram</option>
                        <option value="18">Manipur</option>
                        <option value="19">Meghalaya</option>
                        <option value="20">Nagaland</option>
                        <option value="21">Odisha</option>
                        <option value="22">Punjab</option>
                        <option value="23">Rajasthan</option>
                        <option value="24">Sikkim</option>
                        <option value="25">Tamil Nadu</option>
                        <option value="26">Telangana</option>
                        <option value="27">Tripura</option>
                        <option value="28">Uttar Pradesh</option>
                        <option value="29">Uttarakhand</option>
                        <option value="30">West Bengal</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col mt-3 mx-auto">
                <input type="text" class="form-control" name="landmark" placeholder="Landmark(optional)" required>
            </div>
            <div class="col mt-3 mx-auto">
                <input type="number" class="form-control" name="phone" placeholder="Alternate Phone(optional)" required>
            </div>
        </div>

        <h3 class="mt-2">Address Type</h3>
        <div class="form-row">
            <label class="form-radio">Home
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="form-radio">Work
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-row">
            <div class="form-check-inline mt-3">
                <button type="submit" class="button1">SAVE</button>
            </div>
            <div class="form-check-inline mt-3">
                <button type="submit" class="button2">CANCEL</button>
            </div>
    </form>
</div>
</div>