<header></header>

<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-6">
            <h5 class=""><b>My Shopping Bag</b></h5>
        </div>
        <div class="col-2">
            <h5 class=""><b>Total : $90.68</b></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-8  list-box p-2 jumbotron">
            <img class="rounded img-box" src="{{productImage}}" alt="" height="230px" width="173px">
            <div class="float-right mt-4 mr-5"><b>${{productPrice}}</b></div>
            <div class="desc ml-4">
                <p class="mb-0"><b>{{productName}}</b></p>
                <p class="disc mb-0">Men Red Shockwave Running Footgear</p>
                <p class="disc">Puma</p>
                <br><br><br>
                <div class="dropdown">
                    Size:
                    <select
                        class="btn btn-sm dropdown-toggle click text-white drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">9</option>
                        <option class="dropdown-item mx-auto drp" href="#">10</option>
                        <option class="dropdown-item mx-auto drp" href="#">11</option>
                        <option class="dropdown-item mx-auto drp" href="#">12</option>
                    </select>
                </div>
                <div class="dropdown ml-3">
                    Quantity:
                    <select
                        class="btn btn-sm dropdown-toggle click text-white drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">1</option>
                        <option class="dropdown-item mx-auto drp" href="#">2</option>
                        <option class="dropdown-item mx-auto drp" href="#">3</option>
                        <option class="dropdown-item mx-auto drp" href="#">4</option>
                        <option class="dropdown-item mx-auto drp" href="#">5</option>
                        <option class="dropdown-item mx-auto drp" href="#">6</option>
                        <option class="dropdown-item mx-auto drp" href="#">7</option>
                        <option class="dropdown-item mx-auto drp" href="#">8</option>
                    </select>
                </div><br>

            </div>
            <div><button class=" btn text-white bottom-right click del btn-hover color-11"><b>Remove</b></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8  list-box p-2 jumbotron">
            <img class="rounded img-box" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2493419/2018/2/22/11519275161812-AKS-Women-Red--Beige-Printed-A-Line-Kurta-4251519275161613-1.jpg" alt="" height="230px" width="173px">
            <div class="float-right mt-4 mr-5"><b>$40.42</b></div>
            <div class="desc ml-4">
                <p class="mb-0"><b>Chritsmas T-shirt</b></p>
                <p class="disc mb-0">Men Red Round Neck Full Sleve T-shirt</p>
                <p class="disc">Peter England</p>
                <br><br><br>
                <div class="dropdown">
                    Size:
                    <select
                        class="btn btn-sm dropdown-toggle click text-white drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">S</option>
                        <option class="dropdown-item mx-auto drp" href="#">M</option>
                        <option class="dropdown-item mx-auto drp" href="#">L</option>
                        <option class="dropdown-item mx-auto drp" href="#">XL</option>
                    </select>
                </div>
                <div class="dropdown ml-3">
                    Quantity:
                    <select class="btn btn-sm dropdown-toggle click drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">1</option>
                        <option class="dropdown-item mx-auto drp" href="#">2</option>
                        <option class="dropdown-item mx-auto drp" href="#">3</option>
                        <option class="dropdown-item mx-auto drp" href="#">4</option>
                        <option class="dropdown-item mx-auto drp" href="#">5</option>
                        <option class="dropdown-item mx-auto drp" href="#">6</option>
                        <option class="dropdown-item mx-auto drp" href="#">7</option>
                        <option class="dropdown-item mx-auto drp" href="#">8</option>
                    </select>
                </div><br>

            </div>
            <div><button class=" btn text-white bottom-right click del btn-hover color-11"><b>Remove</b></button>
            </div>
        </div>
    </div>
    <div class="jumbotron place-order pt-3">
        <button type="button" class="btn mx-auto text-white order-btn btn-lg btn-block btn-hover color-11">
            <h4 class="mb-0"><b>PLACE ORDER</b></h4>
        </button>
        <div>
            <fieldset class="jumbotron random-box p-0 mt-4">
                <legend class="ml-3 text-white" style="width: auto;">
                    <h5>Address</h5>
                </legend>
                <p class="ml-3 text-white">23 A, Gr Flr, Avijah Building,<br>
                    Jss Road, Opp Metro Cinema,<br>
                    New Marine Lines, Mumbai,
                    Maharashtra, 400002.<br>
                    +91 9988776655</p>
                <button type="button"
                    class="btn mx-auto text-white drp click pt-1 btn-block btn-hover color-11"><b>Edit</b></button>

            </fieldset>
        </div>
        <div>
            <fieldset class="jumbotron random-box p-0 mt-3">
                <legend class="ml-3 text-white" style="width: auto;">
                    <h5 class="mx-auto">Payment Options</h5>
                </legend>

                <form action="#" class="text-white ml-3">
                    <p class="mb-0">
                        <input type="radio" id="test1" name="radio-group" checked>
                        <label for="test1">Cash On Dilvery</lhsabel>
                    </p>
                    <p class="mb-0">
                        <input type="radio" id="test2" name="radio-group">
                        <label for="test2">Credit/Debit Card</label>
                    </p>
                    <p class="mb-0">
                        <input type="radio" id="test3" name="radio-group">
                        <label for="test3">Paytm</label>
                    </p>
                </form>

            </fieldset>
        </div>

    </div>
</div>