<style>
    #container {
        margin-left: 75px;
        margin-top: 50px;
    }

    #to,
    #subject,
    #content {
        font-family: "Segoe UI";
        font-size: 18px;
        width: 530px;
    }

    h1 {
        font-family: "Segoe UI";
        font-size: 40px;
        color: #3b5998;
    }

    p {
        color: green;
    }

    #send_email {
        font-size: 15px;
        font-family: "Segoe UI";
    }

    #message {
        font-size: 18px;
    }
</style>

<div id="container">
    <h1>Email-verification link has been sent to your registerd email-id!!!!</h1>

</div>