<div class="row">
    <div class="col-md-12">
        <a href="/" style="text-decoration: none;">
            <h1 class="display1 text-center text-secondary" style="margin: 100px 0px 200px 0px">{{#if flag}}Check Your
                Mail{{else}}No Email Found{{/if}}</h1>
        </a>
    </div>
</div>
<!-- Large modal -->