<header></header>

<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-9">
            <h5 class=""><b>Shoes (126 items)</b></h5>
        </div>
        <div class="col p-0">
            <div class="dropdown">
                Sort By:
                <select class="btn btn-sm dropdown-toggle click text-white rec pl-4 text-white btn-hover color-11 m-0"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <option class="dropdown-item mx-auto drp" href="#">Recommended</option>
                    <option class="dropdown-item mx-auto drp" href="#">Price L to H</option>
                    <option class="dropdown-item mx-auto drp" href="#">Price H to L</option>
                    <option class="dropdown-item mx-auto drp" href="#">Latest</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row ml-5">
        <div class="col-2 p-2 mr-4">
            <img class="rounded img-box mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded img-box mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded img-box  mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded img-box mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded img-box  mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>

    </div>
    <div class="row ml-5">

        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
    </div>
    <div class="row ml-5">

        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1" src="./../public/red-shoe.jpg" alt="" height="230px" width="173px">
            <div class="">
                <p class="mb-0"><b>Puma</b></p>
                <p class="disc mb-0">Men Red Running Shoe</p>
                <p class="disc mb-0">$50.26</p>
            </div>
        </div>
    </div>
</div>