 
  <div class="container">
  		<div class="row">
  			<div class="col-lg-3"></div>
  			 <div class="col-lg-6">
  			   <div id="ui">
  			  	  <h1 class="text-center">Product Registration Form<hr style="background-color: white "></h1>
  			  	  <form action="/product_registration" method="POST" class="form-group text-center" id="sellerform">
  			  	    <div class="row ">
  			  		    <div class="col-lg-6">
  			  			    <label>Product Name</label>
  			  			    <input type="text" name="productName" class="form-control" placeholder="Enter Product Name">
  			  		    </div>
  			  		    <div class="col-lg-6">
  			  			    <label>Product Serial Number</label>
  			  			    <input type="Number" name="productSerialNumber" class="form-control" placeholder="Enter Serial Number">
  			  		    </div>
  			        </div><br>
  			       <div class="row">
  			  		   <div class="col-lg-6">
  			  			    <label>Product Category</label>
  			  			    <input type="text" name="productCategory" class="form-control" placeholder="i.e Electronic, Clothe etc.">
  			  		    </div>
  			  		    <div class="col-lg-6">
  			  			    <label>MRP</label>
  			  			    <input type="Number" name="productPrice" class="form-control" placeholder="Enter MRP of the Product">
  			  		    </div>
  			        </div><br>
    				      <label>Product Description</label>
                  <input type="text" name="productDescription" class="form-control" placeholder="Write some features of product"> <br>
                <div class="row ">
                  <div class="col-lg-6" style="margin-top:8px">
                    <label>Choose Manufacturing Date</label>
                  </div>
                  <div class="col-lg-6">
                    <input type="Date" name="productionDate" class="form-control"  >
                  </div><br><br>
                </div>
				<div class="row ">
                  <div class="col-lg-6" style="margin-top:8px">
                    <label>Paste Your Image Url</label>
                  </div>
                  <div class="col-lg-6">
                    <input type="url" name="productImage" class="form-control"  >
                  </div><br><br><br>
                </div>
                    
                <input type="submit" name="submit" value="Register Product" class="btn btn-primary btn-block btn-lg">		 	
  			  	  </form>	
  			 </div>	
  			</div>
  			</div>
  	</div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  