
    <div class="container mt-5">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Your Order's</span>
                </nav>
            </div>
        </div>
        <br><br>
        <div class="container order">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light bg-light">
                        <div class="col-8">
                            <span class="navbar-brand mb-0 h1">
                                <h4>Order Placed</h4>
                                <h5>11 November 2019</h5>
                            </span>
                            <span class="navbar-brand mb-0 h1">
                                <h4>Total Amount</h4>
                                <h5>INR 2499/-</h5>
                            </span>
                            <span class="navbar-brand mb-0 h1">
                                <h4>Address 2</h4>
                            </span>
                        </div>
                        <span class="navbar-brand mb-0 h1">
                                <h4>Order ID</h4>
                                <h5>#VSGNJK6614381386190</h5>
                            </span>
                    </nav>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-3">
                    <div class="my-list">
                        <h1>
                            Add Product Image
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-list">
                        <h1>
                            <span>
                                <h2>Product Information</h2>
                                <h5>Apple Ear phones</h5>
                                <h6>Apple</h6>
                                <h6>Delivered on 19 Nov 2019</h6>
                                <h6>Return Period : 15 Days</h6>
                            </span>
                        </h1>
                    </div>
                </div>
                <div class="col-3">
                    <div class="my-list">
                        <button type="button" class="btn btn-light btn-md button"disabled>Buy it again</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave seller feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave delivery feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Write a product review</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container order">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light bg-light">
                        <div class="col-8">
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Order Placed</h4>
                                    <h5>11 November 2019</h5>
                                </span>
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Total Amount</h4>
                                    <h5>INR 2499/-</h5>
                                </span>
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Address 2</h4>
                                </span>
                        </div>
                        <span class="navbar-brand mb-0 h1">
                                    <h4>Order ID</h4>
                                    <h5>#VSGNJK6614381386190</h5>
                                </span>
                    </nav>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-3">
                    <div class="my-list">
                        <h1>
                            Add Product Image
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-list">
                        <h1>
                            <span>
                                    <h2>Product Information</h2>
                                    <h5>Apple Ear phones</h5>
                                    <h6>Apple</h6>
                                    <h6>Delivered on 19 Nov 2019</h6>
                                    <h6>Return Period : 15 Days</h6>
                                </span>
                        </h1>
                    </div>
                </div>
                <div class="col-3">
                    <div class="my-list">
                        <button type="button" class="btn btn-light btn-md button"disabled>Buy it again</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave seller feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave delivery feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Write a product review</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container order">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-light bg-light">
                        <div class="col-8">
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Order Placed</h4>
                                    <h5>11 November 2019</h5>
                                </span>
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Total Amount</h4>
                                    <h5>INR 2499/-</h5>
                                </span>
                            <span class="navbar-brand mb-0 h1">
                                    <h4>Address 2</h4>
                                </span>
                        </div>
                        <span class="navbar-brand mb-0 h1">
                                    <h4>Order ID</h4>
                                    <h5>#VSGNJK6614381386190</h5>
                                </span>
                    </nav>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-3">
                    <div class="my-list">
                        <h1>
                            Add Product Image
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-list">
                        <h1>
                            <span>
                                    <h2>Product Information</h2>
                                    <h5>Apple Ear phones</h5>
                                    <h6>Apple</h6>
                                    <h6>Delivered on 19 Nov 2019</h6>
                                    <h6>Return Period : 15 Days</h6>
                                </span>
                        </h1>
                    </div>
                </div>
                <div class="col-3">
                    <div class="my-list">
                        <button type="button" class="btn btn-light btn-md button"disabled>Buy it again</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave seller feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Leave delivery feedback</button><br><br>
                        <button type="button" class="btn btn-light btn-md button"disabled>Write a product review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
