<div class="container">
	<div id="menu" >
	<div class="toggle-btn" onclick="getsideBar()">
	<span></span>
	<span></span>
	<span></span>
	</div>
	 <ul>
	 <li><a href="overview.html">Overview</a></li>
	  <li><a href="orders.html">Orders</a></li>
	   <li><a href="address.html">Saved Address</a></li> 
	   <li><a href="profile.html">Profile</a></li>
	 </ul>
	</div>
	<h1 id="profilename">Profile</h1>
	<div id="SectionwithProfilepic">
	    
		<div class="imgsection">
			 <img src="./profile.jpg" class="boygirl" style="border-radius:50%;"id="boy"><br><br><br><br>
			 <h2 id="text">hello user!</h2>
		 </div>
		
	</div>
	 <h1 id="basic">BasicInfo</h1>
	    <div class="basicinfo">
		 <div class="containgrid">
		   <div class="container-fluid">
			<div class="row">
			  <div class="col-sm-6 ">EmailId</div>
			  <div class="col-sm-6 ">abc@gmail.com</div>
			 
			</div>  
			</div>
				<br>
				<div class="container-fluid">
			<div class="row">
			  <div class="col-md ">FirstName</div>
			  <div class="col-md ">username</div>
			 
			</div>  
			</div>
				<br>
			<div class="container-fluid">
			<div class="row">
			  <div class="col-md ">LastName</div>
			  <div class="col-md ">username</div>
			 
			</div>  
			</div>
				<br>
				<div class="container-fluid">
			<div class="row">
			  <div class="col-md ">Gender</div>
			  <div class="col-md ">Female</div>
			 
			</div>  
			</div>
				<br>
				<div class="container-fluid">
			<div class="row">
			  <div class="col-md ">Date Of Birth</div>
			  <div class="col-md ">12 oct 56</div>
			 
			</div>  
			</div>
				<br>
				<div class="container-fluid">
			<div class="row">
			  <div class="col-md ">mobileNumber</div>
			  <div class="col-md ">4566666687</div>
			 
			</div>  
			</div>
				<br>
				<div class="container-fluid">    
                <div class="row">
                 <div class="col-12 ">
				 <button style="margin-left:50px;border:none;width:70px;height:30px;color:white;background-color:#FF4B2B">Edit</button>
                 </div>
      
                </div>
                   </div>
				
		</div>
	
</div>
<script>
function getsideBar(){
document.getElementById("menu").classList.toggle("active");
}

</script>