<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-3" id="card-profile-image">
            <div>
                <img class="rounded-circle" src="https://bbts1.azureedge.net/images/p/full/2019/07/d6229a95-fd28-441f-a7c8-961a16351b48.jpg" alt="Avatar">   
            </div>
        </div>

        <div class="col-md-6" id="card-profile">
            <div class="my-list">
                <h1>User Information</h1>
                <input class="input-field input-box" type="text" placeholder="User Name" name="usrnm" readonly="true" id="userdetail"><br>
                <input class="input-field input-box" type="text" placeholder="User Email" name="email" readonly="true" id="userdetail"><br>
                <input class="input-field input-box" type="text" placeholder="User Phone Number" name="phonenumber" readonly="true" id="userdetail"><br>
                <input class="input-field input-box" type="text" placeholder="User Gender" name="gender" readonly="true" id="userdetail"><br>
                <input class="input-field input-box" type="text" placeholder="User Date of Birth" name="dob" readonly="true" id="userdetail"><br><br>
                <div>
                    <h4>More Actions</h4>
                    <a href="#" class="btn btn-light">Edit User Information</a>
                    <a href="#" class="btn btn-light">Delete User Information</a>
                </div><br><br>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-top: 27px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class=" col-md-5" id="card-address">
                            <div class="my-list-address">
                                <h2>Address 1</h2><br>
                                <div class="row">
                                    <div class="col-4">
                                       <h6>Area & Street :</h6> 
                                    </div>
                                   <div class="col-8">
                                       <input class="input-field input-box-address" type="text" placeholder="Area & Street " name="address" readonly="true" id="userdetail"><br>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Pincode :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Pincode" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Locality :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Locality" name="address" readonly="true" id="userdetail"><br>
                                    </div>                               
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>City :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="City" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>State :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="State" name="address" readonly="true" id="userdetail"><br>
                                    </div>
                                </div><br>                        
                                                            
                                <div class="more-actions-address">
                                    <h4>More Actions</h4>
                                    <a href="#" class="btn btn-light">Edit Address</a>
                                    <a href="#" class="btn btn-light">Delete Address</a>
                                </div><br><br>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Deliver to this Address
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-5" id="card-address">
                            <div class="my-list-address">
                                <h2>Address 2</h2><br>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Area & Street :</h6> 
                                    </div>
                                   <div class="col-8">
                                       <input class="input-field input-box-address" type="text" placeholder="Area & Street " name="address" readonly="true" id="userdetail"><br>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Pincode :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Pincode" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Locality :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Locality" name="address" readonly="true" id="userdetail"><br>
                                    </div>                               
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>City :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="City" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>State :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="State" name="address" readonly="true" id="userdetail"><br>
                                    </div>
                                </div><br>                        
                                                            
                                <div class="more-actions-address">
                                    <h4>More Actions</h4>
                                    <a href="#" class="btn btn-light">Edit Address</a>
                                    <a href="#" class="btn btn-light">Delete Address</a>
                                </div><br><br>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Deliver to this Address
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-5" id="card-address">
                            <div class="my-list-address">
                                <h2>Address 3</h2><br>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Area & Street :</h6> 
                                    </div>
                                   <div class="col-8">
                                       <input class="input-field input-box-address" type="text" placeholder="Area & Street " name="address" readonly="true" id="userdetail"><br>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Pincode :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Pincode" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Locality :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Locality" name="address" readonly="true" id="userdetail"><br>
                                    </div>                               
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>City :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="City" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>State :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="State" name="address" readonly="true" id="userdetail"><br>
                                    </div>
                                </div><br>                        
                                                            
                                <div class="more-actions-address">
                                    <h4>More Actions</h4>
                                    <a href="#" class="btn btn-light">Edit Address</a>
                                    <a href="#" class="btn btn-light">Delete Address</a>
                                </div><br><br>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Deliver to this Address
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-5" id="card-address">
                            <div class="my-list-address">
                                <h2>Address 4</h2><br>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Area & Street :</h6> 
                                    </div>
                                   <div class="col-8">
                                       <input class="input-field input-box-address" type="text" placeholder="Area & Street " name="address" readonly="true" id="userdetail"><br>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Pincode :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Pincode" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                 
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Locality :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="Locality" name="address" readonly="true" id="userdetail"><br>
                                    </div>                               
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>City :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="City" name="address" readonly="true" id="userdetail"><br>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6>State :</h6>
                                    </div>
                                    <div class="col-8">
                                        <input class="input-field input-box-address" type="text" placeholder="State" name="address" readonly="true" id="userdetail"><br>
                                    </div>
                                </div><br>                        
                                                            
                                <div class="more-actions-address">
                                    <h4>More Actions</h4>
                                    <a href="#" class="btn btn-light">Edit Address</a>
                                    <a href="#" class="btn btn-light">Delete Address</a>
                                </div><br><br>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Deliver to this Address
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-5" id="card2">
                            <div class="my-list">
                                <h1 class="add-address">
                                    <span>+</span>
                                    <span><h2>Add Address</h2></span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>