<div class="row">
    <div class="col-md-6 mx-auto">
        {{#if flag}}
        <form action="/reset-seller/{{token}}" method="POST">
        {{else}}
        <form action="/reset/{{token}}" method="POST">
            {{/if}}
            <legend>Reset Password</legend>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus"
                    class="form-control"minlength="5" />
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control" minlength="5"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div>