<div class="container">
  <div class="row" id="header">
    <div class="col-lg-12 ">

      <ul>
        <li><a href="/"><strong>Home</strong></a></li>
        <li><a href="#"><strong>Add Item</strong></a></li>
        <li style="float: right;">
          <form action="/seller-delete" method="POST"
            onsubmit="return confirm('Do you really want to delete the account?');">
            <button type="submit" class="btn btn-link" id="logout" style="color:black;"><strong>Delete Account</strong>
            </button>
          </form>
        </li>
        <li style="float:right">
          <form action="/seller-logout" method="POST" onsubmit="return confirm('Are you sure to logout?');">
            <button type="submit" class="btn btn-link" id="logout"
              style="color:black;"><strong>Logout</strong>&nbsp;<span class="glyphicon glyphicon-log-out"></span>
            </button>
          </form>
        </li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4" id="property2">
      <div class="card" id="card1">
        <img class=" img-circle"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOIoJjA32AsP7ZUIMvclU9vMCnnVEfG1svHMWw8k0_KrZoEZkK_g&s"
          alt="John" style=" border-radius: 60%" ;>
        <h1>{{{collection.sellerName}}}</h1>
        <div class="input-container">
          <i class="fa fa-industry icon"></i>
          <input class="input-field" type="text" name="usrnm" readonly="true" id="userdetail"
            value={{{collection.companyName}}}>
        </div>
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Seller@msn.com" name="email" readonly="true"
            id="userdetail" value={{{collection.emailId}}}>
        </div>
        <div class="input-container">
          <i class="fa fa-mobile icon"></i>
          <input class="input-field" type="text" placeholder="Seller@msn.com" name="email" readonly="true"
            id="userdetail" value={{{collection.contactNumber}}}>
        </div>
        <div class="input-container">
          <i class="fa fa-home icon"></i>
          <input class="input-field" type="password" placeholder="A-13 , Lord Angles" name="psw" id="userdetail"
            readonly="true" value="">
        </div>
        <p><button class="btn1"><a href="/seller-profile-update">Edit Profile</a> </button> </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row" style="margin-top: 27px;">
        <div class="col-md-12">
          <div class="row">
            <div class=" col-md-4">
              <div class="my-list">
                <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas"
                  id="productimage" />
                <h3>HP Core i3 6th Gen</h3>
                <span><strong>Product ID:</strong></span> <span>SHDY6d</span> <br>
                <span><strong>Price:</strong></span> <span>RS:45K</span> <br>
                <div class="offer"> Features</div>
                <div class="detail">
                  <img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png"
                    alt="dsadas" id="productimage" />
                  <p><strong>More Actions</strong></p>
                  <a href="#" class="btn btn-info">Edit Item</a>
                  <a href="#" class="btn btn-warning">Delete</a>
                </div>
              </div>
            </div>
            <div class=" col-md-4">
              <div class="my-list">
                <img src="https://jamonline.ph/wp-content/uploads/2018/04/iPhone-8-Red-Philippines.jpg" alt="dsadas"
                  id="productimage" />
                <h3>IPhone X (RED)</h3>
                <span><strong>Product ID:</strong></span> <span>SHDY6d</span> <br>
                <span><strong>Price:</strong></span> <span>RS:46,000</span> <br>
                <div class="offer">4Gb Ram</div>
                <div class="detail">
                  <img src="https://jamonline.ph/wp-content/uploads/2018/04/iPhone-8-Red-Philippines.jpg" alt="dsadas"
                    id="productimage" />
                  <p><strong>More Actions</strong></p>
                  <a href="#" class="btn btn-info">Edit Item</a>
                  <a href="#" class="btn btn-warning">Delete</a>
                </div>
              </div>
            </div>
            <div class=" col-md-4">
              <div class="my-list">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61fkFmN-trL._AC_UY675_.jpg" alt="dsadas"
                  id="productimage" />
                <h3>Puma Men's Shoe</h3>
                <span><strong>Product ID:</strong></span> <span>SHDG6d</span> <br>
                <span><strong>Price:</strong></span> <span>RS:3,550</span> <br>
                <div class="offer"> Features</div>
                <div class="detail">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61fkFmN-trL._AC_UY675_.jpg" alt="dsadas"
                    id="productimage" />
                  <p><strong>More Actions</strong></p>
                  <a href="#" class="btn btn-info">Edit Item</a>
                  <a href="#" class="btn btn-warning">Delete</a>
                </div>
              </div>
            </div>
            <div class=" col-md-4">
              <div class="my-list">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61fkFmN-trL._AC_UY675_.jpg" alt="dsadas"
                  id="productimage" />
                <h3>Puma Men's Shoe</h3>
                <span><strong>Product ID:</strong></span> <span>SHDG6d</span> <br>
                <span><strong>Price:</strong></span> <span>RS:3,550</span> <br>
                <div class="offer"> Features</div>
                <div class="detail">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61fkFmN-trL._AC_UY675_.jpg" alt="dsadas"
                    id="productimage" />
                  <p><strong>More Actions</strong></p>
                  <a href="#" class="btn btn-info">Edit Item</a>
                  <a href="#" class="btn btn-warning">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>