
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/seller" method="POST">
            <h1>Create Account</h1>
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="email" name="email" id="email1" placeholder="Email">
            <input type="text" name="company" id="company" placeholder="company-Name">
            <input type="number" name="number" id="number" placeholder="Mobile number">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="cnfrmpassword" id="password1" placeholder="Confirm-password"  >
            <button id="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/seller_signin" method="POST">
            <h1>Sign In</h1>
            <input type="email" name="email" id="email2" placeholder="Email">
            <input type="password" name="password" id="seller-password" placeholder="Password">
            <a href="#">Forgot your Password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back</h1>
                <p>
                    To Post your product for sale Please login with your personal details.
                </p>
                <button class="transport" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Dear Seller!</h1>
                <p>
                    Enter your Personal details and start your Business with Us.
                </p>
                <button class="transport" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
 
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script