<link rel="stylesheet" type="text/css" href="../../public/product_registration.css">	
  <div class="container">
  		<div class="row">
  			<div class="col-lg-3"></div>
  			<div class="col-lg-6">
  			  <div id="ui">
  			  	<h1 class="text-center">Product Registration Form<hr style="background-color: white "></h1>
  			  	<form class="form-group text-center">
  			  	<div class="row ">
  			  		<div class="col-lg-6">
  			  			<label>Product Name</label>
  			  			<input type="text" name="productname" class="form-control" placeholder="Enter Product Name">
  			  		</div>
  			  		<div class="col-lg-6">
  			  			<label>Product Serial Number</label>
  			  			<input type="Number" name="productname" class="form-control" placeholder="Enter Serial Number">
  			  		</div>
  			       </div><br>
  			       	<div class="row">
  			  		<div class="col-lg-6">
  			  			<label>Product Category</label>
  			  			<input type="text" name="productname" class="form-control" placeholder="i.e Electronic, Clothe etc.">
  			  		</div>
  			  		<div class="col-lg-6">
  			  			<label>MRP</label>
  			  			<input type="Number" name="productname" class="form-control" placeholder="Enter MRP of the Product">
  			  		</div>
  			       </div><br>
    				        <label>Product Description</label>
                    <input type="text" name="productdecription" class="form-control" placeholder="Write some features of product"> <br><br>
                      <p style="display: inline-block;background-color: #ff5172; font-size: 21px;border: none;border-radius: 18px; margin-right: 69px;">Discount Applicable</p>
                    	 <label class="radio-inline"><input type="radio"  name="optradio" checked>Yes</label>&nbsp;&nbsp;
                       <label class="radio-inline"><input type="radio" name="optradio">No</label>
                    
                    <input type="submit" name="submit" value="Register Product" class="btn btn-primary btn-block btn-lg">		 	
  			  	</form>	
  			 </div>	
  			</div>
  			 
  			
  		</div>
  		
  	</div>
  	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  	