*{
	margin: 0px;
	padding: 0px;
	
}
.container{
	width:1000px;
	height:1000px;
	background-color:rgba(132, 116, 111,0.2);
	margin:auto;
}
#menu{
	position: fixed;
	width:250px;
	height:100%;
	padding:30px 30px;
	margin:20px 20px;
	background-image: linear-gradient(to bottom right, #FF4B2B ,  #FF416C);
	left: -280px;
	transition:all 1s linear;
}
#menu.active{
	left:0px;
}
#menu ul li{
	
	list-style:none;
	padding:20px 20px;
	font-family:sans-serif;
	
	
}
a{
	color:rgb(250,250,250);
	text-decoration:none;
}
#menu .toggle-btn{
	position:fixed;
	left:230px;
	height:20px;
}
#menu .toggle-btn span{
	display:block;
	height:5px;
	width:30px;
	background:black;
	margin:3px 0px;
}
#addressinfo{
    position:absolute;
	width:750px;
	height:auto;
	background-color:white;
	left:300px;
	top:70px;
	box-shadow:4px 3px 2px gray;
}
#address{
	position:fixed;
	top:20px;
	left:300px;
	color:black;
}