html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
	font-family: sans-serif;
	
}
.top-nav-bar
{
	height: 57px;
	top:0;
	position: sticky;
	background: #fff;
	margin-bottom: 20px;
	border-bottom: 3px solid rgb(255, 45, 80);
	z-index: 2;

}
.logo
{
	height: 40px;
	margin:5px 10px;
}
.form-control
{
	margin-top: 9px;
	margin-left: 30px;
	border: 1px solid rgb(255, 45, 80) ! important;
	border-top-left-radius:20px  ! important;
	border-bottom-left-radius: 20px  ! important;
	border-top-right-radius:0px  ! important;
	border-bottom-right-radius:0px  ! important;
	box-shadow:none  ! important;

}
.input-group-text
{
	background: rgb(255, 45, 80)  ! important;
	border:1px solid rgb(255, 45, 80) ! important;
	margin: 8.5px 10px 3px 0;
	border-top-left-radius:0px  ! important;
	border-bottom-left-radius: 0px  ! important;
	border-top-right-radius:20px  ! important;
	border-bottom-right-radius:20px  ! important;
	box-shadow:none  ! important;
	cursor: pointer;


}
.search-box
{
	display: inline-flex;
	width:60%;
}
.srch{
    margin-left: 100px;
}
.fa-search
{
	color:#fff;
}
.menu-bar{
	width: 40%;
	height:57px;
	float: right;
}
.menu-bar ul
{
	display: inline-flex;
	float: right;
}
.menu-bar ul li{
	border-left: 1px solid #fff;
    list-style-type: none;
    padding: 14px 29px;
    text-align: center;
    cursor: pointer;
    border: rgb(255, 45, 80);
    border-width: 39px;
}
.menu-bar ul li a {
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.fa-shopping-basket
{
	margin-right:6px;
	width:50px;
}
@media only screen and (max-width:980px ) {
.top-nav-bar
{
	height: 118px;
	border-bottom:0;
}
.search-box
 {
 	width: 100%;
 }
.menu-bar
 {
 	width: 100%;
 }	
 }
.header{
	margin-top: -20px;
    display: block;
}
 .side-menu{
 	width: 100%;
    font-size: 14px;
    z-index: -29;
    background-color: none;
 }
 .side-menu ul{
 	margin: 0 auto;
    padding: 16px 16px;
    max-width: 1248px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    text-align: left;
    white-space: nowrap;
 }
 .side-menu ul li{
 	list-style-type:none;
 	font-weight:bold;
 	margin-top:10px;
 	cursor:pointer;
 }
 .side-menu ul li:hover{
 	color: black;

 }
 .side-menu ul li ul
 {
 	display: none;
 	z-index:10;
 	top:77px; 
 }
 .side-menu ul li:hover ul{
 	display: block;
 	 
 	margin-top: 2%;
 	margin-right: 10%;
 	position: fixed;
 	background: white;
 	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
 }
.fa-angle-right{
	margin-top:4px;
	margin-right: 8px;
	float: right; 
}
.slider{
	width: 100%;
    padding: 0 10px;
    white-space:nowrap;
    overflow-x:auto;

}
.carousel{
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.carousel-indicators{
	z-index: 1;
}
/* section 2 */

.img-box{
    box-shadow: 0px 0px 5px 0px #c3c3c3;
    display: inline-block;
}

.disc{
    font-size: small;
    font-family: sans-serif;
}
.sl{
    width: 1280px;
}

.box{
    display:inline-block
}
::-webkit-scrollbar {
    display: none;
}

/* footer styling */
a{
    color: #333333;
    text-decoration: none;
   }
a:hover{
    color: #333333;
    text-decoration: none;
}