 
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }
.image
  {
    float: left;
    width: 40;
    margin-left: -73px;
    margin-top: 58px;
    width: 77%;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-top: 55px;
}

.btn-danger {
    color: #000;
    background-color: #ff2f00f0;
    border-color: #af7379;
    border: none;
}
img .img-product {
    vertical-align: middle;
    border-style: none;
    width: 19px;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 160px;
    margin-left: 79px;
}

.h2 {
    float: right;
    margin-top: 64px;
}

.description {
    float: right;
    margin-right: 152px;
    margin-top: 83px;
}

.checked {
    color: orange;
}

.Offer {
    margin-top: 0;
    margin-bottom: 0rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: solid;
}
input[type=number] {
  width: 64%;
    padding: 6px 20px;
    margin: -6px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #0e38d4;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 3.2rem;
    width: 74px;
}

.list-type5 {
    width: 410px;
    margin: 0 auto;
}

.list-type5 ol {
    list-style-type: none;
    list-style-type: decimal !ie;
    /*IE 7- hack*/
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}

.list-type5 ol li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: #ff2b2b0d;
    padding-left: 58px;
}

.list-type5 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

.list-type5 li:hover {
    box-shadow: inset -1em 0 #6cd6cc;
    -webkit-transition: box-shadow 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #ff416c;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}

.solid {
    border-style: solid;
    color: #d4caca;
    border-radius: 16px;
    margin-bottom: 12px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 1px;
    margin-left: 11px;
    margin-top: 10px;
}

.user_review {
    margin-left: 10px;
    color: black;
    font-family: -webkit-pictograph;
    /* width: 40px; */
    font-size: 20px;
}

span.glyphicon.glyphicon-user {
    margin-left: 843px;
    color: #843f32;
}

.review1 {
    margin-bottom: 13px;
}
.inline{
    display: inline;
}