#ui
{
 background-color: #000000db;;
    padding: 30px;
    margin-top: 80px;
    border-radius: 10px;
}
#ui label,h1
{
	color:#fff;

}
body
{ background-size: cover;  
  background-position: center center; 
  background-attachment: fixed;
  background-color:rgba(255, 33, 75, 0.78);
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
    background-color: #FF516F;
    margin-bottom: -27px;
    border: none;
}
#sellerform {
    margin-bottom: 3rem;
    font-family: sans-serif;
}
