*{
	margin: 0px;
	padding: 0px;
	
}
.container{
	width:1000px;
	height:1000px;
	background-color:rgba(132, 116, 111,0.2);
	margin:auto;
}
#menu{
	position: fixed;
	width:250px;
	height:100%;
	padding:30px 30px;
	margin:20px 20px;
	 background-image: linear-gradient(to bottom right, #FF4B2B ,  #FF416C);
	left: -280px;
	transition:all 1s linear;
}
#menu.active{
	left:0px;
}
#menu ul li{
	
	list-style:none;
	padding:20px 20px;
	font-family:sans-serif;
	//border-bottom:10px solid rgba(255, 0, 0, 0.2);
	
}
a{
	color:rgb(250,250,250);
	text-decoration:none;
}
#menu .toggle-btn{
	position:fixed;
	left:240px;
	height:20px;
}
#menu .toggle-btn span{
	display:block;
	height:5px;
	width:30px;
	background:#151719;
	margin:3px 0px;
}
#SectionwithProfilepic{
	position:absolute;
	width:700px;
	height:250px;
	background-color:white;
	left:300px;
	top:50px;
	
}
.boygirl{
   position:absolute;
   width:200px;
   height:100px;
   background-size:cover;
   top:-40px;
   left:-40px;
      
}
.imgsection{
	width:700px;
	height:200px;
	position:absolute;
	top:100px;
	left:280px;
}
#profilename{
	position:relative;
	top:0px;
	left:130px;
	color:black;
}
.basicinfo{
	position:absolute;
	width:700px;
	height:400px;
	background-color:white;
	left:300px;
	top:350px;
	
}
.containgrid{
	width:400px;
	height:300px;
	margin:50px 50px 100px 150px;
	background-color:white;
}
#basic{
	position:relative;
	top:240px;
	left:130px;
	color:black;
}

