#card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 390px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-address {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 415px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-profile {
    height: 405px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-left: 95px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-profile-image {
    height: 300px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-left: 95px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-list {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5efef;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 0px #eaeaea;
    position: relative;
    overflow: hidden;
    background-color: #eaeaea;
    text-align: center;
    height: 100%;
}

.my-list-address {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5efef;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 0px #eaeaea;
    position: relative;
    overflow: hidden;
    background-color: #eaeaea;
    height: 100%;
}

.add-address {
    margin-top: 30%;
}

.input-box {
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    padding: 15px;
}

.input-box-address {
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    padding: 15px;
}

.more-actions-address {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 25px;
}