#property1{
  margin-top: 17px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color:#ff4b2b;
    height: -2px;
    height: 77px;
    border: 1px;
     
    width: 937px;
    margin-right: 96px;
}
#property2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 31px;
  margin-right: 105px;
  float: left;
  margin-top: 41px;
}
#container2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 31px;
    float: left;
    margin-left: 36px;
    margin-top: 36px;
    width: 244px;
}

 

.btn1 {
 border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background-color:  #ff4b2b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    width: 2;
    FONT-WEIGHT: 4200;
    width: 143px
}
.btn2 {
  border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background-color:#ff4b2b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
     color: #fff;
       transition: transform 80ms ease-in;
  }
  .btn3{
   background-color: #ff4b2b;
    text-align: center;
    cursor: pointer;
    width: 58%;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 42px;
    margin-left: 42px;
    margin-top: 10px;
    align-content: center

  }
  .btn4{
    background-color: #ff4b2b;
    text-align: center;
    cursor: pointer;
    width: 58%;
    font-size: 18px;
    border: none;
    border-radius: 42px;
    margin-top: -15px;
    color: #ffffff;
    margin-bottom: 9px;
    margin-left: 41px;

  }
.social{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
} 
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #ff4b2b;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
#userdetail {
  width: 100%;
  padding: 10px;
  outline: none;
}

 
#productimage{
    vertical-align: middle;
    width: 192px;
    height: 154px;
}
.profileImage
{
  height: 215px;
}
#card3 {
    margin-top: 14px;
    margin-bottom: 14px;
}
/* Set a style for the submit button */
